{% extends "base.html" %}
{% block title %}404!{% endblock %}
{% block content %}
<div >
    <h1 class="display-1 text-center">Woof!</h1> 
    <h2 class="display-6 fw-lighter text-center">We couldn't find that page.</h2>
    <div class="d-flex flex-column align-items-center">
        <img src="https://w0.peakpx.com/wallpaper/256/436/HD-wallpaper-australian-shepherd-small-puppies-cute-animals-quartet-different-colors-aussie-puppies.jpg" alt="Cute puppies">
        <a href="/" class="btn btn-primary btn-lg">Go Home</a>
    </div>
</div>
{% endblock %}